<div class="tabs">
   <ul class="tabs__list">
      <li class="tabs__item">
         <a class="tabs__link tabs__link--active" href="#tab-1">
            tab-1
         </a>
      </li>
      <li class="tabs__item">
         <a class="tabs__link" href="#tab-2">
            tab-2
         </a>
      </li>
      <li class="tabs__item">
         <a class="tabs__link" href="#tab-3">
            tab-3
         </a>
      </li>
      <li class="tabs__item">
         <a class="tabs__link" href="#tab-4">
            tab-4
         </a>
      </li>
   </ul>

   <div class="tabs__content">
      <div id="tab-1" class="tabs__content-item tabs__content-item--active">
         <div class="tabs__content-1">
            CONTENT-111 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nesciunt, atque iusto rem quis
            architecto. In iusto impedit tempora? Saepe iusto amet vero ex nobis soluta animi repudiandae iste molestias
            odit nisi mollitia modi neque earum fugiat unde, nemo similique, sunt, cumque ut
         </div>
      </div>

      <div id="tab-2" class="tabs__content-item">
         <div class="tabs__content-2">
            CONTENT-222 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nesciunt, atque iusto rem quis
            architecto. In iusto
            impedit tempora? Saepe iusto amet vero ex nobis soluta animi repudiandae iste molestias odit nisi mollitia
            modi neque
         </div>
      </div>

      <div id="tab-3" class="tabs__content-item">
         <div class="tabs__content-3">
            CONTENT-333 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nesciunt, atque iusto rem quis
            architecto. In iusto
            impedit tempora? Saepe iusto amet vero ex nobis soluta animi repudiandae iste molestias odit nisi mollitia
            modi neque

         </div>
      </div>

      <div id="tab-4" class="tabs__content-item">
         <div class="tabs__content-3">
            CONTENT-444 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nesciunt, atque iusto rem quis
            architecto. In iusto
            impedit tempora? Saepe iusto amet vero ex nobis soluta animi repudiandae iste molestias odit nisi mollitia
            modi neque
         </div>
      </div>
   </div>

</div>